.greetingText{
    float: right;
    margin-top:-0.5%;
    margin-right: 45%;
}
.addItems{
    float: left;
    /* //margin-top:-1%; */
    margin-left: 40px;
}
.dropdownFieldset{
    display: flex;
}
.inputCategory{
    margin-left: 20px;
}

.filterCategory{
    float: right;
    margin-right: 3%;
}
.stamp {
    transform: rotate(12deg);
      color: #555;
      font-size: 3rem;
      font-weight: 700;
      border: 0.25rem solid #555;
      display: inline-block;
      /* padding: 0.25rem 0.25rem; */
      text-transform: uppercase;
      border-radius: 1rem;
      font-family: 'Courier';
      /* -webkit-mask-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/grunge.png'); */
    /* -webkit-mask-size: 944px 604px; */
    /* mix-blend-mode: multiply; */
  }
  
  .is-nope {
    color: #D23;
    border: 0.5rem double #D23;
    transform: rotate(5deg);
      /* -webkit-mask-position: 2rem 3rem; */
    font-size: 0.8rem;  
  }
  .controlOpacity{
    opacity: 0.3;
  }
  .searchBar{
    display: flex;
    justify-content: space-between;
  }
  .prevPageClass{
   pointer-events: none
  }